#include "resource.h"
#include "windows.h"

#include "../../res/u.rc"

//
// Icon resources
//

//
// Menu resources
//
IDR_MENU1 MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "New", IDM_NEW
        MENUITEM "Exit", IDM_EXIT
    END
    POPUP "Options"
    BEGIN
        MENUITEM "Always On Top", IDM_ALWAYS_ON_TOP
        MENUITEM "Minimize On Use", IDM_MINIMIZE_ON_USE
        MENUITEM "Hide When Minimized", IDM_HIDE_WHEN_MINIMIZED
    END
    POPUP "View"
    BEGIN
        MENUITEM "Refresh", IDM_REFRESH
        MENUITEM "BKColor", IDM_BKCOLOR
        MENUITEM "TextColor", IDM_TEXTCOLOR
    END
    POPUP "Help"
    BEGIN
        MENUITEM "About", IDM_ABOUT
    END
END


//
// Dialog resources
//
IDD_DIALOG1 DIALOGEX 0,0,440,330
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "U-Explorer 0.0.1"
MENU IDR_MENU1
FONT 8,"Ms Shell Dlg",400,0,0
BEGIN
    CONTROL         "",IDC_TAB_TASK,"SysTabControl32",0,5,5,430,300,WS_EX_STATICEDGE
END

IDD_SHEET_APP DIALOGEX 0,0,400,280
STYLE DS_3DLOOK | DS_CENTER | DS_FIXEDSYS | WS_VISIBLE | WS_CHILDWINDOW | WS_SYSMENU | WS_CLIPCHILDREN
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
    CONTROL         "",IDC_LIST_APPLICATIONS,"SysListView32",WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT,10,10,380,220
    PUSHBUTTON      "End Task",IDC_BUTTON_END_TASK,175,245,55,15
    PUSHBUTTON      "Switch To",IDC_BUTTON_SWITCH_TASK,250,245,55,15
    PUSHBUTTON      "New Task",IDC_BUTTON_NEW_TASK,330,245,55,15
END

IDD_SHEET_PRC DIALOGEX 0,0,400,280
STYLE DS_3DLOOK | DS_CENTER | DS_FIXEDSYS | WS_VISIBLE | WS_CHILDWINDOW | WS_SYSMENU | WS_CLIPCHILDREN
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
    CONTROL         "",IDC_LIST_PROCESSES,"SysListView32",WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT,10,10,380,220
    PUSHBUTTON      "End Process",IDC_BUTTON_END_PRC,330,245,55,15
    AUTOCHECKBOX    "Show processes from all users",IDC_CHECKBOX_SPFAU,50,235,270,24
END

IDD_SHEET_SVC DIALOGEX 0,0,400,280
STYLE DS_3DLOOK | DS_CENTER | DS_FIXEDSYS | WS_VISIBLE | WS_CHILDWINDOW | WS_SYSMENU | WS_CLIPCHILDREN
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
    CONTROL         "",IDC_LIST_SERVICES,"SysListView32",WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT,10,10,380,220
END

IDD_SHEET_PRF DIALOGEX 0,0,400,280
STYLE DS_3DLOOK | DS_CENTER | DS_FIXEDSYS | WS_VISIBLE | WS_CHILDWINDOW | WS_SYSMENU
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
    GROUPBOX        "CPU Usage",IDC_GB_CPU_USAGE,27,15,66,87
    GROUPBOX        "PF Usage",IDC_GB_PF_USAGE,25,110,66,87
    LTEXT           "",IDC_USAGE_BAR_CPU,35,30,50,60
    LTEXT           "",IDC_USAGE_BAR_PF,35,120,50,60
    GROUPBOX        "CPU Usage History",IDC_STATIC,127,19,244,86
    GROUPBOX        "Physical Memory Usage History",IDC_STATIC,125,120,244,86
    LTEXT           "",IDC_USAGE_GRAPH_CPU,135,35,225,60
    LTEXT           "",IDC_USAGE_GRAPH_PF,135,135,225,60
END

IDD_SHEET_NET DIALOGEX 0,0,400,280
STYLE DS_3DLOOK | DS_CENTER | DS_FIXEDSYS | WS_VISIBLE | WS_CHILDWINDOW | WS_SYSMENU
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
    GROUPBOX        "Lan",IDC_STATIC,35,10,322,125
    CONTROL         "",IDC_LIST_ADAPTER,WC_LISTVIEW,WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT,35,160,331,90
    LTEXT           "",IDC_NETWORK_UTILIZATION,49,23,288,88
END

IDD_SHEET_USR DIALOGEX 0,0,400,280
STYLE DS_3DLOOK | DS_CENTER | DS_FIXEDSYS | WS_VISIBLE | WS_CHILDWINDOW | WS_SYSMENU
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
    CONTROL         "",IDC_LIST_USER,WC_LISTVIEW,WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT,24,9,347,231
    PUSHBUTTON      "Disconnect",IDC_BN_DISCONNECT,140,250,61,17
    PUSHBUTTON      "Log Off",IDC_BN_QUIT,225,250,61,17
    PUSHBUTTON      "Send Message...",IDC_BN_SENDMESSAGE,305,250,100,17
END

//
// Version Information resources
//
1 VERSIONINFO
    FILEVERSION     0,0,0,1
    PRODUCTVERSION  0,0,0,1
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_UNKNOWN
BEGIN
END
