#include "resource.h"
#include "windows.h"


//
// Icon resources
//
#include "../../res/u.rc"

//
// Dialog resources
//
IDD_TEST DIALOGEX 0,0,353,299
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU 
CAPTION "Test_edit"
FONT 8,"MS Shell Dlg",400,0,0
BEGIN
    AUTORADIOBUTTON "Topmost",IDC_RADIO_TOPMOST,150,10,50,22
    AUTORADIOBUTTON "Normal",IDC_RADIO_NORMAL,152,39,45,11
    EDITTEXT        IDC_EDIT1,245,12,82,32,ES_AUTOHSCROLL
END

//
// Version Information resources
//
1 VERSIONINFO
    FILEVERSION     0,0,0,1
    PRODUCTVERSION  0,0,0,1
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_UNKNOWN
BEGIN
END
