#include <windows.h>

// Icons

#ifndef IDI_APP
#define IDI_APP  1
#endif

#ifndef IDI_ULIB
#define IDI_ULIB 2
#endif

#ifndef IDI_HELP
#define IDI_HELP 3
#endif

#ifndef IDI_PEN
#define IDI_PEN 4
#endif

#ifndef IDI_GOOGLE
#define IDI_GOOGLE 11
#endif

#ifdef MINGW_RC

IDI_APP ICON DISCARDABLE "u.ico"

IDI_BICYCLE ICON DISCARDABLE "bicycle.ico"

IDI_TREE ICON DISCARDABLE "tree.ico"

IDI_FAN  ICON DISCARDABLE "fan.ico"

IDI_SWITCH ICON DISCARDABLE "switch.ico"

IDI_WHEEL ICON DISCARDABLE "wheel.ico"

#endif

IDI_ULIB ICON DISCARDABLE "ulib.ico"

IDI_HELP ICON DISCARDABLE "help.ico"

IDI_PEN  ICON DISCARDABLE "pen.ico"

IDI_GOOGLE ICON DISCARDABLE "google.ico"

//
// Manifest resources
//
//1                   RT_MANIFEST   "manifest.xml"
1                   24   "manifest.xml"



