#include "resource.h"
#include "windows.h"

#include "../../../res/u.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLGDSPLAYER DIALOGEX 0, 0, 216, 99
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DS Player"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Pa&use",IDC_PLAYPAUSE,157,9,50,16,WS_DISABLED
    DEFPUSHBUTTON   "S&top",IDC_STOP,157,28,50,16,0
    DEFPUSHBUTTON   "E&xit",IDC_EXIT,157,47,50,16,0
    DEFPUSHBUTTON   "Play File..",IDC_OPENFILE,9,9,50,16,0
    LTEXT           "Now playing",IDC_STATIC,13,28,45,9
    LTEXT           "",IDC_NOWPLAYING,13,40,140,21
    LTEXT           "00:00:00",IDC_TIMEELAPSED,13,68,30,8
    LTEXT           "00:00:00",IDC_TOTALTIME,51,68,30,8
    LTEXT           "/",IDC_SEPARATOR,44,68,8,8
    CONTROL         "Progress2",IDC_PROGRESSBAR,"msctls_progress32",
                    PBS_SMOOTH,14,80,189,8
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
// IDI_ICONLARGE           ICON    DISCARDABLE     "icon1.ico"
