#include "resource.h"
#include "windows.h"


#include "../../res/u.rc"

//
// Icon resources
//
//IDI_APP    ICON   MOVEABLE PURE LOADONCALL     "wnd.ico"

IDB_HELP_FOCUS          BITMAP  DISCARDABLE     "hel_focu.bmp"
IDB_HELP_NORMAL         BITMAP  DISCARDABLE     "hel_norm.bmp"
IDB_MAX_FOCUS           BITMAP  DISCARDABLE     "max_focu.bmp"
IDB_MAX_NORMAL          BITMAP  DISCARDABLE     "max_norm.bmp"
IDB_MIN_FOCUS           BITMAP  DISCARDABLE     "min_focu.bmp"
IDB_MIN_NORMAL          BITMAP  DISCARDABLE     "min_norm.bmp"
IDB_RESTORE_FOCUS       BITMAP  DISCARDABLE     "res_focu.bmp"
IDB_RESTORE_NORMAL      BITMAP  DISCARDABLE     "res_norm.bmp"
IDB_RESTORE_DEACTIVE    BITMAP  DISCARDABLE     "res_deactive.bmp"
IDB_EXIT_FOCUS          BITMAP  DISCARDABLE     "exit_foc.bmp"
IDB_EXIT_NORMAL         BITMAP  DISCARDABLE     "exit_nor.bmp"

IDB_BACKGROUND          BITMAP  DISCARDABLE     "leafy.bmp"

//
// Dialog resources
//
IDD_TEST DIALOGEX 0,0,400,400
STYLE DS_CENTER | DS_SETFONT | WS_CAPTION
CAPTION "Test_bitmap"
FONT 8,"MS Shell Dlg",400,0,0
BEGIN
END

//
// Version Information resources
//
1 VERSIONINFO
    FILEVERSION     0,0,0,1
    PRODUCTVERSION  0,0,0,1
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_UNKNOWN
BEGIN
END
